.container {
    background-image: url('../../assets/img/conscapa3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.svgBackground {
    background-image: url('../../assets/svg/about-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.title, .subtitle {
    color: #ECEBF3;
}

.title, .subtitle, .img {
    margin-right: 80px;
}

.title {
    font-size: 50px;
    margin-top: 20px;
}

.img {
    height: 300px;
    width: 300px;
    margin-bottom: 100px;
}